#wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
#menubar {
  flex-grow: 0;
}
#container {
  flex-grow: 1;
  display: flex;
}
#char_chart {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: flex-start;
  width: 980px;
  overflow-y: scroll;
  color: white;
}
#info {
  border: 2px solid black;
  min-width: 400px;
  margin: 0px 10px;
  padding: 5px;
  flex-shrink: 1;
  flex-grow: 1;
}
ul.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
ul.tabs li {
  flex-grow: 1;
  text-align: center;
}
ul.tabs li a {
  display: block;
  background: #000066;
  color: white;
  padding: 5px;
}
ul.tabs li a:hover {
  background: #333366;
}
.box {
  position: relative;
  margin: 5px;
  font-size: 50px;
}
.box.hilit {
  border: 5px solid goldenrod;
  margin: 0px;
}
.subbox {
  position: absolute;
  border: 1px solid black;
  margin: -1px;
}
.subbox .label {
  padding: 3px;
}
